.env
.env.*
!.env.example
*.jks
*.keystore
key.properties
**/.dart_tool/
**/build/
**/local.properties
**/.flutter-plugins-dependencies
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/.gradle/
**/media/
*.db

**/.kotlin/
**/.ruff_cache/
